.add_btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #593bfb;
  color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
}
.add_btn:hover {
  background-color: var(--white);
  color: #593bfb;
  transform: scale(1.1);
}
.add_btn:active {
  background-color: var(--white);
  color: #593bfb;
  transform: scale(1);
}
.plus_sambol {
  font-size: 23px;
}

.add_btn_heading {
  color: var(--primary-green);
  font-size: 18px;
}

.product_content {
  font-size: 18px;
  color: var(--dark-text);
}

.selectProduct {
  padding: 5px;
  width: 180px;
  outline: none;
  border: none;
  background-color: var(--white);
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-text);
}
.product_title {
  color: var(--dark-text);
}
.product_select {
  background-color: var(--primary-green);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 6px;
  font-size: 15px;
}

.cart_button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--primary-green);
  cursor: pointer;
}

.product_cartbox {
  background-color: var(--white) !important;
  color: var(--dark-text) !important;
  width: 100%;
  box-shadow: 5px 5px 5px rgb(170, 167, 167);
  border-radius: 10px !important;
  overflow: hidden;
}


.edit_product_btn_icon {
  color: #f12828;
  font-size: 20px;
  cursor: pointer;
}
.product_cartbox img {
  width: 100%;
  height: 280px;
}

.user_avatar{
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  border: 2px solid #593bfb;
}

.card_head{
  padding: 15px;
  position: relative;

}

.edit_product_btn {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
}


@media screen and (max-width: 998px) {
  .product_cartbox {
    width: 18rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .product_cartbox {
    /* width: 80%; */
    width: 25rem;

    margin: 0 auto;
  }
}
