.product_cartbox {
  background-color: var(--white) !important;
  color: var(--dark-text) !important;
  width: 100%;
  box-shadow: 5px 5px 5px rgb(170, 167, 167);
  border-radius: 10px !important;
  overflow: hidden;
}

.product_cartbox img {
  width: 100%;
  height: 280px;
}

.cart_button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--primary-green);
  cursor: pointer;
}

@media screen and (max-width: 998px) {
  .product_cartbox {
    width: 18rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .product_cartbox {
    /* width: 80%; */
    width: 25rem;

    margin: 0 auto;
  }
}
